.sponsorship-section
{
	margin-bottom: 25px;
}

.sponsorship-section h1
{
	font-size: 15px;
}

.sponsorship-section .sponsors_list
{
	margin: 0 auto;
    text-align: center;
    width: 100%;
}

.sponsor_principal
{
}

.sponsor_principal a
{
}

.sponsor_2
{
	max-width: 700px;
}

.sponsor_2 a
{
	width: 40%;
}

.sponsor_3
{
	max-width: 1050px;
}

.sponsor_3 a
{
	width: 30%;
}

.sponsor_apoios
{
	max-width: 1050px;
}

.sponsor_apoios a
{
	width: 20%;
}


.sponsorship-section .sponsors_list a
{
	display: inline-block;
    height: auto;
    margin: 1%;
}

.sponsorship-section .sponsors_list a img
{
	max-width: 100%;
}
