/*#calendar_container
{
	display: block;
    margin-top: 100px;
	.agenda { 
		max-width: 100%;
		table{
			background-color: #ffffff;
			color: #272C2A;
			
			thead{
				font-size: 20px;
			}
			tbody{
				border: 2px solid #006f9e;
				.selected
				{
					background-color: #009de1;
					color: #ffffff;
					.text-muted
					{
						color: #ffffff;
					}
				}
			}
			th{
				text-align: center;
			}
		}
		
		.table-bordered {
			border: 2px solid #006f9e;
		}
		
		.table-responsive {
			overflow-x: auto;
			min-height: 0.01%;
		}
		
		.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
			border: 2px solid #006f9e;
		}
		
		.text-muted {
			color: #272C2A;
		}

	 }
 }*/
 
 @media (max-width: 700px) {
	.dayofmonth {
		font-size: 20px !important;
	}
	.dayofweek{
		display: none !important;
	}
}

 @media (max-width: 400px) {
	.dayofmonth {
		font-size: 14px !important;
	}
	.shortdate{
		font-size: 8px !important;
	}
	#calendar_container{
		padding: 2px;
	}
	.dia_container_selected{
		font-size: 14px;
	}	
 }


 #calendar_container
{
	display: block;
    margin-top: 100px;
	/* Dates */
	.agenda{
		border: 2px solid #006f9e;
		.agenda-date {
			width: 9%;
			padding: 3px;
			display: table-cell;
			border: 2px solid #006f9e;
			border-collapse: collapse;
			height: 250px;
			vertical-align: middle;
			cursor: pointer;
			text-align: center;
			.dayofmonth {
				font-size: 36px;
				line-height: 36px;
			}
			.shortdate {
				font-size: 0.75em; 
			}
		}
		.agenda-date:hover
		{
			background-color: #009de1;
			color: #ffffff;
			.text-muted
			{
				color: #ffffff;
			}
			
		}
		.dia_selected
		{
			background-color: #009de1;
			color: #ffffff;
			.text-muted
			{
				color: #ffffff;
			}			
		}
		.dia_container{
			display: none;
			border: 2px solid #006f9e;
			border-collapse: collapse;
			.dia_linha
			{
				.dia_hora
				{
					/*display: inline-block;*/
					font-weight: bold;
				}
				.dia_eventos
				{
					display: inline-block;
					margin-bottom: 12px;
					.dia_evento
					{
					}
				}
			}
		}
		.dia_container_selected
		{
			display: table-cell;
		}
	}
}





/* Times */
/*.agenda .agenda-time { width: 140px; } */


/* Events */
.agenda .agenda-events {  } 
.agenda .agenda-events .agenda-event {  } 

