@import "bootstrap/bootstrap.less";
@import "./variables.less";
@import url(http://fonts.googleapis.com/css?family=Roboto:900,700,400);

@import "navbar.less";
@import "footer.less";

@import "main-carousel.less";
@import "speakers-container.less";
@import "schedule-container.less";
@import "sponsors-container.less";
@import "contacts-container.less";

@import "schedule.less";
@import "speakers-pages.less";
@import "organization-pages.less";




.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.background-size(@bg-size) {
    -webkit-background-size: @bg-size;
       -moz-background-size: @bg-size;
         -o-background-size: @bg-size;
            background-size: @bg-size;
}


h1 { font-weight: 900; }
h2 { font-weight: 700; }
h3 { font-weight: 500; }


/*****************************************************************
 * 02 - Element Customization 
 *****************************************************************/

h1, h2, h3{
	a { 
		color: @set-dark-blue; text-decoration:none; 
		&:hover{ color: @set-primary-blue; text-decoration:none;}
	}
}



.row{
	margin-left:auto;
	margin-right:auto;

	a { 
		color: @set-dark-blue; text-decoration:none; 
		&:hover{ color: @set-primary-blue; text-decoration:none;}
	}
}




.btn {
	opacity: 0.7;
	margin: 15px 0px;
	font-size: 1.5em;
}

.btn-phantom {
	border: 2px solid @set-dark-blue;
	color: @set-dark-blue;
	background-color: transparent;
	opacity: .9;
	
	&:hover{
		color: white; //whitesmoke;
		background-color: @set-dark-blue;
	}
	&:active{
		color: white; //whitesmoke;
		background-color: @set-dark-blue;
	}
}

.phantom-active{
		color: white; //whitesmoke;
		background-color: @set-dark-blue;
}

.btn-phantom-neg {
	border: 2px solid white; //whitesmoke;
	color: white; //whitesmoke;
	opacity: .9;
	background-color: @set-dark-blue;

	&:hover{
		color: @set-dark-blue;
		background-color: white; //whitesmoke;
		border-color: @set-dark-blue;
	}

	.phantom-active{
		color: @set-dark-blue;
		background-color: white; //whitesmoke;
	}

}

.btn-phantom-xneg {
	border: 2px solid white; //whitesmoke;
	color: white; //whitesmoke;
	opacity: .9;
	//background-color: @set-dark-blue;

	&:hover{
		color: @set-dark-blue;
		background-color: white; //whitesmoke;
		//border-color: @set-dark-blue;
	}

	.phantom-active{
		color: @set-dark-blue;
		background-color: white; //whitesmoke;
	}

}

.push-btn-middle {
	text-align: center;
}



.emph{
	font-style: italic;
	color: @set-dark-blue;
	font-weight: 900;
}

/*****************************************************************
 * 03 - Elements Definition
 *****************************************************************/




.center-text {
	text-align: center;
}

.fixed-height-container {
	min-height: 450px;

}

.footer-divider{
	width: 90%;
}

.hidden-footer{
	width: 90%;
	color: white;
}

.blue {
	color: @set-primary-blue;
}





.clear{
    /* This class clears the floats */
    clear:both;
}




/******************************************************************************************/



.todo{
	display: none;
}








.footnote{
	font-size: 0.9em;
	color: @gray-light;
	text-align: center;
}

#news-container{
	background-color: white;
	h2 { color: @gray;}
	h1, h2, h3 { text-align: center; color: @gray-dark; }
}

#team-container { 
	background-color: @set-dark-blue;
	h1, h2, h3 { text-align: center; color: whitesmoke; }
}
#team-container, #news-container {
	min-height: 100px;
	background-color: @set-dark-blue;
	
	.emph { color: @set-primary-orange; }

	#wrapper {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		border: 0;

		td {
			vertical-align: middle;
			text-align: center;

			img {
				width: 80%;
				height: auto;
				max-height: 130px;

			}
		}
	}

	

	.btn-phantom {
		border: 2px solid white;
		color: white;
		background-color: transparent;
		opacity: .9;
		
		&:hover{
			color: @set-dark-blue; //whitesmoke;
			background-color: white;
		}
		&:active{
			color: @set-dark-blue; //whitesmoke;
			background-color: white;
		}
	}
}




/******************************************************************************************
 *  06 - Outros
 ******************************************************************************************/

#social-media {

	position: fixed;
	top: 200px;
	right: 0px;
	z-index: 5;

	color: white;
	font-size: 2.5em;
	text-align: center;

	#facebook, #google, #twitter, #linkedin{
		width: 50px;
		height: auto;
	}
	
	#facebook	{ background-color: #3b5998; }
	#google 	{ background-color: #C63D2D; }
	#twitter 	{ background-color: #4099FF; }
	#linkedin 	{ background-color: #4875B4; }
	#youtube	{ background-color: #FF3333; }
}

/******************************************************************************************
 *  D - Web Responsive
 ******************************************************************************************/

.hide-small {
	@media screen {
		@media (max-width: @screen-phone){
			display: none;
		}
	}
}


@media screen {
	
	@media (max-width: @screen-phone){
		//#jumbo-carousel { height: 300px; }
		#jumbo-carousel .carousel-caption h1 { font-size: 2em; } 	
		#jumbo-carousel .carousel-caption h2 { font-size: 1.8em; }
		#jumbo-carousel .carousel-caption h3 { font-size: 1.6em; }
		#jumbo-carousel .carousel-caption .btn { font-size: 1.8em; }
	}
}


/******************************************************************************************
 *  E - Páginas Externas
 ******************************************************************************************/


#company-faq{
	
	margin-top: 60px;

	.question-container
	{
		margin: 15px;
	}

	.question
	{
		font-size: 16px;
	    font-weight: bold;
		cursor: pointer;
	}

	.answer
	{
		border: 1px solid #000000;
	    margin-top: 5px;
	    padding: 5px;
		display: none;
	}
}

#admin{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;

	.btn {
		float: right;
	}
}





/******************************************************************************************
 *  F - Currículos jt form
 ******************************************************************************************/
 .jt-title{
 	webkit-box-sizing: content-box;
 		box-sizing: content-box;
 }


/******************************************************************************************
 *  G - Galleria (Media)
 ******************************************************************************************/

#back_to_camera {
			clear: both;
			display: block;
			height: 80px;
			line-height: 40px;
			padding: 20px;
		}
		.fluid_container {
			margin: 0 auto;
			max-width: 1000px;
			width: 90%;
		}


