@import "bootstrap.less";
@import url(http://fonts.googleapis.com/css?family=Roboto:900,700,400);

@screen-xlg-desktop:   1680px;
@screen-phone:			768px;

.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.background-size(@bg-size) {
    -webkit-background-size: @bg-size;
       -moz-background-size: @bg-size;
         -o-background-size: @bg-size;
            background-size: @bg-size;
}


/*****************************************************************
 * 01 - LESS Variable definition & customization 
 * SEE: http://getbootstrap.com/customize/#less-variables-section
 *****************************************************************/
/* SET Color Scheme */
@set-primary-blue:		#009de1;
@set-dark-blue:			#006F9E;
@set-xdark-blue:		#00577D;
@set-light-blue:		#33B1E7; //#19A7E4;
@set-primary-orange:	#FFB700;
@set-dark-orange:		#FF8700;
@set-xdark-orange:		#C66900;

@brand-primary: #009de1; //SET default blue

/* Scaffolding - Setting for some of the most global styles */
@link-color:	white;

/* Typography - Font, line-height, and color for body text, headings, and more. */
@font-size-base: 16px;
@font-family-sans-serif: 'Roboto', Helvetica, Arial, sans-serif; 

/* Navbar */
@navbar-height:						55px;
@navbar-default-link-color: 		white;
@navbar-default-link-hover-color:	@gray;
@navbar-default-link-hover-bg:		@set-light-blue;

/* Navs - shared navs styles*/
@nav-link-hover-bg:			@set-dark-blue;


h1 { font-weight: 900; }
h2 { font-weight: 700; }
h3 { font-weight: 500; }


/*****************************************************************
 * 02 - Element Customization 
 *****************************************************************/

h1, h2, h3{
	a { 
		color: @set-dark-blue; text-decoration:none; 
		&:hover{ color: @set-primary-blue; text-decoration:none;}
	}
}

.navbar{
	border: none;
	border-radius: 0;

	background-color: @brand-primary;

	margin-bottom: 0px;

	&-toggle {
		background-color: whitesmoke;
	}

	
}

.row{
	margin-left:auto;
	margin-right:auto;

	a { 
		color: @set-dark-blue; text-decoration:none; 
		&:hover{ color: @set-primary-blue; text-decoration:none;}
	}
}

#jumbo-carousel{

		margin-top: 50px;
	  	height: 600px;

		.item{
			height: 600px;
			background-color: #777;
		}

		.carousel-caption {

			z-index: 4;
			margin-bottom: 12.5%;
			text-align: left;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			//background-color: rgba(255, 183, 0, .2); //orange filter pode ser mudado
			//background-color: rgba(198, 142, 0, .2); //dark orange filter pode ser mudado
			background-color: rgba(0,87,125,0.3); //dark blue

			.caption-container{
				width: 50%;
				margin: 0px auto;
				padding-top: 10%;
			}

			h1 { 
				font-size: 3em;
				
				color: whitesmoke;


				
			}

			.center-text{
				text-align: center;
			}

			h1.a, a { 
				color: whitesmoke;
				text-decoration: none;

				&:hover{ color: @set-light-blue; }
			}

			.btn {
				font-size: 2em;
				font-weight: 900;
				border-width: 2px;

			}
		}

		.carousel-inner > .item > img {
			position: absolute;
			top: 0;
			left: 0;
			min-width: 100%;
			height: 600px;
			
		}

		.carousel-control { z-index: 5;}

		.emph{
			font-style: italic;
			color: @set-primary-orange;
		}

		#item-main{
			background:  black url(../img/jumbo/taguspark_light.jpg) no-repeat;
			.background-size(cover);

			 @media screen {
			 	@media (min-width: @screen-lg-desktop){
			 		background-position-y: -250px;
			 	} 
			 	@media (min-width: @screen-xlg-desktop){
			 		background-position-y: -500px;
			 	} 
			 }
		}

		#item-sponsor{
			background:  black url(../img/jumbo/3dhand_light.png) no-repeat;
			.background-size(100%);

			
			@media screen {
				@media (min-width: @screen-lg-desktop){
					background-position-y: -150px;
				} 
				@media (min-width: @screen-xlg-desktop){
					background-position-y: -450px;
				} 
			}
		}

		#item-social-media{
			background:  black url(../img/jumbo/cover2_light.png) no-repeat;
			.background-size(cover);

			@media screen {
				
				@media (min-width: @screen-xlg-desktop){
					background-position-y: -90px;
				} 
			}
		}

		#item-cv-linkedin {
			background:  black url(../img/jumbo/neg_bubbles.png) no-repeat;
			.background-size(cover);			

			h1, h2 { text-align: center; }
		}



		#curriculum-jumbo{
			width: 900px;
			height: 350px;
			border: 0;
			overflow-y: hidden;
		}
}	


.btn {
	opacity: 0.7;
	margin: 15px 0px;
	font-size: 1.5em;
}

.btn-phantom {
	border: 2px solid @set-dark-blue;
	color: @set-dark-blue;
	background-color: transparent;
	opacity: .9;
	
	&:hover{
		color: white; //whitesmoke;
		background-color: @set-dark-blue;
	}
	&:active{
		color: white; //whitesmoke;
		background-color: @set-dark-blue;
	}
}

.phantom-active{
		color: white; //whitesmoke;
		background-color: @set-dark-blue;
}

.btn-phantom-neg {
	border: 2px solid white; //whitesmoke;
	color: white; //whitesmoke;
	opacity: .9;
	background-color: @set-dark-blue;

	&:hover{
		color: @set-dark-blue;
		background-color: white; //whitesmoke;
		border-color: @set-dark-blue;
	}

	.phantom-active{
		color: @set-dark-blue;
		background-color: white; //whitesmoke;
	}

}

.btn-phantom-xneg {
	border: 2px solid white; //whitesmoke;
	color: white; //whitesmoke;
	opacity: .9;
	//background-color: @set-dark-blue;

	&:hover{
		color: @set-dark-blue;
		background-color: white; //whitesmoke;
		//border-color: @set-dark-blue;
	}

	.phantom-active{
		color: @set-dark-blue;
		background-color: white; //whitesmoke;
	}

}

.push-btn-middle {
	text-align: center;
}

footer{

	
	
	p {
		color: @gray;
		font-size: 12px;
		text-align: right;

		a {
			color: @set-primary-orange;
			text-decoration: none;

			&:hover{
				text-decoration: none;
				color: @set-xdark-orange;	
			}
		}
	}
}

.emph{
	font-style: italic;
	color: @set-dark-blue;
	font-weight: 900;
}

/*****************************************************************
 * 03 - Elements Definition
 *****************************************************************/
#set-logo{
	padding: 0;
	padding-left: 15px;
	z-index: 5;

	/*@media screen and (max-width: @grid-float-breakpoint-max){
	 	display: none;
 	}*/

}

#ist-logo{
	margin-left: 20px;
	width: 90px;

	img{
		width: 100%;
		height: auto;
	}
}

#ist-logo-footer {
	width: 120px;
	img{
		width: 100%;
		height: auto;
	}
}

#nav-collapse{
	
	z-index: -1;

	 @media screen and (max-width: @grid-float-breakpoint-max){
	 	background-color: @set-light-blue;
	 }
	
}

#speakers-container{
	
	text-align: center;
	padding: 50px 0 0 0;
	margin-left: auto;
	margin-right: auto;
	max-width: none;

	#speakers-row{

		.speaker-description{
			width: 60%;
			overflow:auto;
			position:relative;
			//left:5%;
			//right:10%;
			color: @gray-lighter;
			margin-top: 7%;
		}

		.oradorName{
			position: absolute;
			bottom: 0;
			width: 100%;
			color: @gray-lighter;
			font-size: 1.1em;
			background-color: rgba(0, 0, 0, .5);
		}

		.quote {
			font-size: 2em;
			font-weight: 900;
			text-align: right;
			font-style: italic;
			padding-right: 5px;
		}

		.quote-src {
			text-align: right;
			font-size: 1.2em;
		}

	}

	#recuit-speaker {
		width: 70%;
		position: relative;
		//bottom: 100px;
		text-align: right;
		margin-top: 10%;
	}

}

#sponsorship-container {
	background-color: white;
}

#team-container {
	min-height: 100px;
	background-color: @set-dark-blue;
	
	#wrapper {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		border: 0;

		td {
			vertical-align: middle;
			text-align: center;

			img {
				width: 80%;
				height: auto;
				max-height: 130px;

			}
		}
	}
}


#contacts{
	
	position: absolute;
	left:0; 
	bottom: 0;
	z-index: 4;
	padding: 25px;
	background: rgba(242, 240, 224, 0.6);
	color: black;
	font-size: 1.25em;
}

#contacts-container {

	a { 
		color: @set-primary-blue; 
		
		&:hover{ 
			text-decoration:none;
			color: @set-light-blue;
		}
	}
	
	.hidden_transport_info
	{
	    display: none;
	    width: 100%;
	    //height: 300px;
	    padding: 0 2.5%;
	}

	.transportation-option
	{
	    width: 100%;
	    text-align: center;
	}


	.transportation-option h3
	{
		margin: 0;	
	}

	.transportation-img{
		margin: 0 5px;
	}

	.sub-option{
		margin-left: 15px;
	}

	.contacts-info { padding-left: 15px; }
}

.center-text {
	text-align: center;
}

.fixed-height-container {
	min-height: 450px;

}

.footer-divider{
	width: 90%;
}


.blue {
	color: @set-primary-blue;
}





.clear{
    /* This class clears the floats */
    clear:both;
}




/******************************************************************************************/

.student-group{
	width: 30px;
}

#ieee-logo {
	width: 50px;
	heigh: auto;
}

.todo{
	display: none;
}


/******************************************************************************************
 *  C - Color Scheme 																		  
 ******************************************************************************************/
.set-blue-bg 		{ background-color: @set-primary-blue; }
.set-dark-blue-bg 	{ background-color: @set-dark-blue; }
.set-xdark-blue-bg 	{ background-color: @set-xdark-blue; }
.set-light-blue-bg 	{ background-color: @set-light-blue; }



/******************************************************************************************
 *  02 - Oradores
 ******************************************************************************************/

#speakers-container{
	
	text-align: center;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: none;

	#title{
		position:relative;

		h2 {
		//	position: absolute;
			margin: 0;
			width: 100%;
			top: 0;
			color: white;
			padding-left: 15%;
			text-align: left;
			margin: 20px 0;
			font-size: 3.5em;

		}
	}

	#speakers-row{
		text-align: middle;

		.row { position: relative; }

		.speaker-description{
			width: 100%;
		//	max-width: 650px;
			overflow:auto;
			//position:relative;
			//left:5%;
			//right:10%;
			color: @gray-lighter;
			margin-top: 7%;
			display: inline-block;
		}

		.oradorName{
			position: absolute;
			bottom: 0;
			width: 100%;
			color: @gray-lighter;
			font-size: 1.1em;
			background-color: rgba(0, 0, 0, .5);

			.name { color: @set-primary-orange; }

			p { padding: 0; margin: 0;}
		}

		.quote {
			font-size: 2em;
			font-weight: 900;
//			text-align: right;
			font-style: italic;
			padding-right: 5px;
		}

		.quote-src {
//			text-align: right;
			font-size: 1.2em;
		}

	}

	#recuit-speaker {
		width: 70%;
		position: relative;
		//bottom: 100px;
		text-align: right;
		margin-top: 10%;
	}

	#paulo-rosado-description {

		max-width: 550px;

		.quote {
			text-align: left;
		}
	}

	#vasco-pedro-description {

		max-width: 650px;

		.quote {
			text-align: right;
		}
	}

	#susana-sargento-description {
		max-width: 650px;

		.quote {
			text-align: left;
		}
	}	

	.inline-speakers { margin-top: 5px;}
}

.orador-left	{ float: left; 	 }
.orador-right	{ float: right;  }

.orador, .oradorSmall, .oradorLarge{
	//float:left;
    //margin:4px;
    
    /* Giving the orador div a relative positioning: */
    position:relative;
    cursor:pointer;
    display: inline-block;

    .oradorTrigger{
		position: absolute;
	    left: 0;
	    top: 0;
	    z-index: 2;	
	    width: 100%;
	    height: 100%;
	    opacity: 0;
	}

	.oradorData{
	    /* Hiding the .oradorData div */
	    background-color: rgba(000,000,000,0.7);
	    //background-color: rgba(200,200,200,0.7);
	    width:100%;
	    height:100%;
	    display:none;
	    

	    //new
	    position: absolute;
	    left: 0;
	    top: 0;
	    z-index: 1;


	    .oradorDescription{
		    font-size:1em;
		    text-align: left;
		    padding:0 10% ;
		    position: absolute;
		    bottom: 100px;
		    color: white;
		}
	}

	.oradorFlip{
	    /*  The orador div will be positioned absolutely with respect
	        to its parent .orador div and fill it in entirely */

	    position:absolute;
	    left:0;
	    top:0;
	    width:100%;
	    height:100%;
	    //border:1px solid #ddd;
	    //z-index:1000;

	    &:hover{
		    //border:1px solid #999;

		    /* CSS3 inset shadow: */
		    -moz-box-shadow:0 0 30px #999 inset;
		    -webkit-box-shadow:0 0 30px #999 inset;
		    box-shadow:0 0 30px #999 inset;
		}

		img{
		    /* Centering the logo image in the middle of the .oradorFlip div */
		    position:absolute;
		    width:100%;
		    height:100%;
		    top:0%;
		    left:0%;
		    //z-index:1002;
		}
	}
}

.orador{
    width:180px;
    height:180px;
    
}

.oradorSmall{
    width:270px;
    height:270px;
}

.oradorLarge{
    width:300px;
    height:300px;
}

.oradorURL{
    font-size:10px;
    font-color:#FFF;
    font-weight:bold;
    alignment:center;
    height:25%;
}

/******************************************************************************************
 *  03 - Empresas e Patrocínios
 ******************************************************************************************/
.footnote{
	font-size: 0.9em;
	color: @gray-light;
	text-align: center;
}

 #sponsorship-container{

 	.sponsorship-section{
		margin-bottom: 25px;
		
		h1{
			font-size: 26px;
			text-align: center;
		}

		.sponsors_list{
			margin: 0 auto;
		    text-align: center;
		    width: 100%;
			.sponsor_principal{
				
			}
		}
		
		.sponsor_2{
			max-width: 700px;
			a{
				width: 40%;
				margin: 1% 3%;
			}
		}
		
		.sponsor_3{
			max-width: 768px;
			a{
				width: 30%;
			}
		}
		
		.sponsor_apoios{
			max-width: 1050px;
			a{
				width: 20%;
			}
		}

		a{
			display: inline-block;
		    height: auto;
		    margin: 1%;
		    width: 40%;
		}

		a img{
			max-width: 100%;
		}
	}

	#gold a {
		padding: 30px 0;


	}
 }

#curriculum-container{

	h1, h2, h3, h4, h5 { text-align: center; }

	#curriculum-submit{
		
		width: 55%;
		margin-left: auto;
		margin-right: auto;
		padding: 30px;

		.btn {
			display: inline-block;
			font-size: 1em;
			min-width: 150px;


			border-width: 1.25px;
			i {font-size: 1.2em;}
		}

		#file-input { display: inline-block; }

		#filename{ display: inline-block; }

		#success, #error {
			display:none;
		}

		#success {
			color : green;
		}

		#error {
			color: red;
		}

		#submit { float: right; display: inline-block; }
		#clear { float: right; display: inline-block;  }
		input#curriculum { display: none; }
	}
}

/******************************************************************************************
 *  04 - Mapa
 ******************************************************************************************/
 #map{
	width: 90%;
	margin: 0 auto;
	padding: 0;
	position: relative;

	#osm-frame{
		width: 100%;
		height: 450px;
		border: 0;
		overflow-y: hidden; //hides de scroll-bar
	}

	#contacts{
	
		position: absolute;
		left:0; 
		bottom: 0;
		z-index: 4;
		margin: 0;
		padding: 0 25px;
		background: rgba(242, 240, 224, 0.6);
		color: black;
		font-size: 1em;

		a {
			text-decoration: none;
			color: @set-primary-blue;

		}
	}
}

/******************************************************************************************
 *  06 - Outros
 ******************************************************************************************/

#social-media {

	position: fixed;
	top: 200px;
	right: 0px;
	z-index: 5;

	color: white;
	font-size: 2.5em;
	text-align: center;

	#facebook, #google, #twitter, #linkedin{
		width: 50px;
		height: auto;
	}
	
	#facebook	{ background-color: #3b5998; }
	#google 	{ background-color: #C63D2D; }
	#twitter 	{ background-color: #4099FF; }
	#linkedin 	{ background-color: #4875B4; }
	#youtube	{ background-color: #FF3333; }
}

/******************************************************************************************
 *  D - Web Responsive
 ******************************************************************************************/




.hide-small {
	@media screen {
		@media (max-width: @screen-phone){
			display: none;
		}
	}
}


@media screen {
	
	@media (max-width: @screen-phone){
		#jumbo-carousel .carousel-caption h1 { font-size: 2em; } 	
		#jumbo-carousel .carousel-caption h2 { font-size: 1.8em; }
		#jumbo-carousel .carousel-caption h3 { font-size: 1.6em; }
		#jumbo-carousel .carousel-caption .btn { font-size: 1.8em; }
	}
}

/******************************************************************************************
 *  E - Páginas Externas
 ******************************************************************************************/
.speaker-holder{
	
	margin-top: 60px;

	.speaker-img-holder {
		height: 400px;
		width: 400px;
		background-color: black;
		border-radius: 50%;	
		margin: 0 auto;
	}

	.speaker-media {
		color: @set-dark-blue;
		font-size: 2em;
		text-align: center;
		a { color: @set-dark-blue; text-decoration: none; &:hover{ color: @set-xdark-blue;}; }
	}

	#vasco-pedro { 
		background:  black url(../img/speakers/vasco-pedro.png) no-repeat;
		.background-size(100%);		
	}

	#paulo-rosado { 
		background:  black url(../img/speakers/paulo-rosado.png) no-repeat;
		.background-size(100%);		
	}

	#jaime-jorge { 
		background:  black url(../img/speakers/jaime-jorge.png) no-repeat;
		.background-size(115%);
	}

	#susana-sargento { 
		background:  black url(../img/speakers/susana.png) no-repeat;
		background-position : center;
		.background-size(105%);
	}

	#rogerio-carapuca {
		background:  black url(../img/speakers/rogerio-carapuca.png) no-repeat;
		background-position : center;
		.background-size(100%);
	}

	#pedro-caramez { 
		background:  black url(../img/speakers/pedro-caramez.png) no-repeat;
		.background-size(100%);		
	}
	#miguel-goncalves{
		background:  black url(../img/speakers/Miguel-Goncalves.jpg) no-repeat;
		.background-size(100%);
	}
	#diogo-monica{
		background:  black url(../img/speakers/diogo-monica.jpg) no-repeat;
		.background-size(100%);
	}


}

#company-faq{
	
	margin-top: 60px;

	.question-container
	{
		margin: 15px;
	}

	.question
	{
		font-size: 16px;
	    font-weight: bold;
		cursor: pointer;
	}

	.answer
	{
		border: 1px solid #000000;
	    margin-top: 5px;
	    padding: 5px;
		display: none;
	}
}

#admin{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;

	.btn {
		float: right;
	}
}

/*
#curriculum-submit{
	
	padding: 30px;

	.btn {
		display: block;
		font-size: 1em;
		min-width: 150px;


		border-width: 1.25px;
		i {font-size: 1.2em;}
	}

	#filename{ display: inline-block; }

	#success, #error {
		display:none;
	}

	#success {
		color : green;
	}

	#error {
		color: red;
	}

	#submit { float: right; display: inline-block; }
	#clear  { float: right; display: inline-block; }
	input#curriculum { display: none; }
}
*/


#organization-container{
	margin-top: 60px;


	#title, #subtitle, #icon {
		text-align: center;
	}

	#icon{
		font-size: 4.5em;
		color: @set-primary-orange;
	}

	h2 { padding-left: 30px;}


	.team-divider {
		width: 100%;
		margin-top: 5px;
		border-color: @gray-lighter;
	}

	.team-member, .team-coord{
		
		background-color: black;
		border-radius: 50%;	
		margin: 0 auto;
		margin-top: 20px;

		@media (max-width:1200px){ //and (min-width:900px){
			height: 200px;
			width: 200px;
		}
	}

	.team-coord {
		height: 300px;
		width: 300px;
	}

	.team-member {
		height: 250px;
		width: 250px;
	}

	.team-media {
		text-align: center;
		color: @set-dark-blue;
		font-size: 2em;
		text-align: center;
		a { color: @set-dark-blue; text-decoration: none; &:hover{ color: @set-xdark-blue;}; }
	}

	.team-name, .team-title {
		text-align: center;
		font-size: 1.2em;
		font-weight: 500;
		color: @gray-light;
	}

	.team-title {
		font-weight: 700;
		Color: @gray;
	}

	#claudia-filipe{
		background:  black url(../img/equipa/coordenacao/claudia_filipe.png) no-repeat;
		.background-size(100%);
	}

	#rita-gaspar {
		background:  black url(../img/equipa/coordenacao/rita-gaspar.png) no-repeat;
		.background-size(cover);
	}

	#dinis-santos {
		background:  black url(../img/equipa/financas/dinis-santos.png) no-repeat;
		.background-size(cover);
	}

	#tiago-barra {
		background:  black url(../img/equipa/financas/tiago-barra.png) no-repeat;
		.background-size(cover);
	}	

	#joao-pacheco{
		background:  black url(../img/equipa/logistica/joao-pacheco.png) no-repeat;
		.background-size(cover);
	}

	#filipe-sardinha{
		background:  black url(../img/equipa/marketing/filipe-sardinha.png) no-repeat;
		.background-size(cover);
	}

	#ines-percheiro{
		background:  black url(../img/equipa/marketing/ines-percheiro.png) no-repeat;
		.background-size(cover);
	}

	#marta-borges{
		background:  black url(../img/equipa/marketing/marta-borges.png) no-repeat;
		.background-size(cover);
	}

	#vania-mendonca{
		background:  black url(../img/equipa/marketing/vania-mendonca.png) no-repeat;
		.background-size(cover);
	}

	#patricia-santos{
		background:  black url(../img/equipa/marketing/patricia-santos.png) no-repeat;
		.background-size(cover);
	}



	#andre-lopes{
		background:  black url(../img/equipa/externas/andre-lopes.png) no-repeat;
		.background-size(cover);
	}

	#carina-fonseca{
		background:  black url(../img/equipa/externas/carina-fonseca.png) no-repeat;
		.background-size(cover);
	}
	#catarina-falcato{
		background:  black url(../img/equipa/externas/catarina-falcato.png) no-repeat;
		.background-size(cover);
	}
	#christine-blakemore{
		background:  black url(../img/equipa/externas/christine-blakemore.png) no-repeat;
		.background-size(cover);
	}

	#denise-pedro{
		background:  black url(../img/equipa/externas/denise-pedro.png) no-repeat;
		.background-size(cover);
	}
	#francisco-carvalho{
		background:  black url(../img/equipa/externas/francisco-carvalho.png) no-repeat;
		.background-size(cover);
	}

	#frederico-roldao{
		background:  black url(../img/equipa/externas/frederico-roldao.png) no-repeat;
		.background-size(cover);
	}

	#pedro-angelico{
		background:  black url(../img/equipa/externas/pedro-angelico.png) no-repeat;
		.background-size(cover);
	}

	#pedro-dias{
		background:  black url(../img/equipa/externas/pedro-dias.png) no-repeat;
		.background-size(cover);
	}

	#pedro-rodrigues{
		background:  black url(../img/equipa/externas/pedro-rodrigues.png) no-repeat;
		.background-size(cover);
	}

	#diogo-barradas{
		background:  black url(../img/equipa/externas/diogo-barradas.png) no-repeat;
		.background-size(cover);
	}

	#francisco-freire{
		background:  black url(../img/equipa/externas/francisco-freire.png) no-repeat;
		.background-size(cover);
	}

	#andre-pires{
		background:  black url(../img/equipa/it/andre-pires.png) no-repeat;
		.background-size(cover);
	}

	#andre-santos{
		background:  black url(../img/equipa/it/andre-santos.png) no-repeat;
		.background-size(cover);
	}

	#miguel-santos{
		background:  black url(../img/equipa/it/miguel-santos.png) no-repeat;
		.background-size(cover);
	}

	#pedro-vito{
		background:  black url(../img/equipa/it/pedro-vito.png) no-repeat;
		.background-size(cover);
	}

	#rodrigo-lourenco{
		background:  black url(../img/equipa/it/rodrigo-lourenco.png) no-repeat;
		.background-size(cover);
	}

	#tomas-jacob{
		background:  black url(../img/equipa/it/tomas-jacob.png) no-repeat;
		.background-size(cover);
	}






}
